<style type="text/css">
    .text-orange {
        color: #FF6E40;
    }
</style>
<style>
    .app-modal-window-select-create .modal-dialog {
        width: 70%;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title text-orange text-uppercase">Cập nhật Lĩnh vực</h3>
</div>
<div class="modal-body">
    <form name="editForm">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label">Tên Lĩnh vực<span class="text-danger text-strong">&nbsp;*</span></label>
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="Tên Lĩnh vực" maxlength="500" required ng-model="vmUpdate.UpdateEntity.CareerName">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-md-12">
                        <label class="form-label">Ghi chú</label>
                        <div class="controls">
                            <textarea class="form-control" cols="5" id="field-6" ng-model="vmUpdate.UpdateEntity.Note"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="vmUpdate.FnSave()">Lưu</button>
    <button class="btn btn-default" ng-click="vmUpdate.FnCancel()">Thoát</button>
</div>
