<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Tiến Độ';">
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Thông tin tìm kiếm</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    <i class="box_setting material-icons" ng-click="section_modal()">mode_edit</i>
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-top-30 padding-bottom-30">
                <div class="row">
                    <form name="searchForm">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="field-1">Năm Khoa học</label>
                                    <span class="desc"></span>
                                    <div class="input-group" inputgroup>
                                        <select class="form-control" name="year" data-ng-model="vm.SearchEntity.PlanYear"
                                                data-ng-options="unit.id as unit.name for unit in vm.ListYear" ng-change="vm.FnChangeYear()"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="field-1">Tên Đề tài/Dự án</label>
                                    <span class="desc"></span>
                                    <div class="input-group" inputgroup>
                                        <select class="form-control" name="project" data-ng-model="vm.SearchEntity.ProjectId" required
                                                data-ng-options="unit.ProjectId as unit.ProjectName for unit in vm.ListProject"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                        <button type="submit" ng-disabled="searchForm.$invalid" class="btn btn-primary" ng-click="vm.FnSearch()">Tìm kiếm</button>
                        <button type="button" class="btn btn-primary" ng-click="vm.FnClear()">Xoá điều kiện</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Danh sách Tiến độ</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                </div>
            </header>
            <div class="content-body padding-top-30 padding-bottom-30">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-primary margin-bottom-15" ng-disabled="searchForm.$invalid" ng-click="vm.FnCreate()">Thêm mới</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="overflow: auto">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên Sản phẩm</th>
                                    <th>Nội dung thực hiện</th>
                                    <th>Tiến độ thực hiện</th>
                                    <th>Trạng thái</th>
                                    <th>Ghi chú</th>
                                    <th>Xử lý</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in vm.ListData">
                                    <td style="text-align:right">{{$index+1}}</td>
                                    <td><a href="javascript:;" ng-click="vm.FnUpdate(row.ScheduleId)">{{row.ScheduleName}}</a></td>
                                    <td>{{row.Content}}</td>
                                    <td>{{vm.Convert(row.MonthFrom, row.YearFrom, row.MonthTo, row.YearTo)}}</td>
                                    <td>{{row.Status}}</td>
                                    <td>{{row.Note}}</td>
                                    <td style="text-align:center">
                                        <button type="button" ng-click="vm.FnDelete(row.ScheduleId)" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
