<style type="text/css">
    .text-orange {
        color: #FF6E40;
    }
    .app-modal-window-select-create .modal-dialog {
        width: 70%;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title text-orange text-uppercase">Cập nhật Hồ sơ</h3>
</div>
<div class="modal-body">
    <form name="editForm">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-4">
                        <label class="form-label">Tên Hồ sơ:<span class="text-danger text-strong">&nbsp;*</span></label>
                        <div class="controls">
                            <input type="text" class="form-control" maxlength="500" ng-model="vmUpdate.UpdateEntity.ProfileName" required>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Mô tả:</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="vmUpdate.UpdateEntity.Description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="margin-top-10">
                        <div class="col-md-4">
                            <label class="form-label">File Hồ sơ cũ:</label>
                            <div class="controls">
                                <a href="javascript:;" ng-click="vmUpdate.FnDownload()">{{vmUpdate.FileName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row margin-top-10">
                        <div class="col-md-12">
                            <label class="form-label col-md-3 margin-top-5" for="field-6">Chọn file Hồ sơ upload:&nbsp;<span class="text-danger text-strong">&nbsp;*</span></label>
                            <div class="col-md-4">
                                <input type="file" file-model="vmUpdate.file">
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="vmUpdate.FnSave()">Sửa</button>
    <button class="btn btn-default" ng-click="vmUpdate.FnCancel()">Thoát</button>
</div>
