<div>
    <form name="dpk">
        <input class="form-control" ng-model="modelDate"
               is-open="DatePicker.status.opened" readonly="readonly" uib-datepicker-popup
               current-text="Hôm nay" clear-text="Xóa" close-text="OK"
               name="datevalue"
               ng-click="DatePicker.open($event)" placeholder="dd/MM/yyyy" ng-required="isRequired" datepicker-local-date>

        <p class="help-block" ng-show="showValidate">
            <span style="color:red" ng-show="dpk.datevalue.$error.required">
                {{textValidate}}
            </span>
        </p>
    </form>
</div>