<!-- SIDEBAR - START -->
<!-- MAIN MENU - START -->
<perfect-scrollbar class="page-sidebar-wrapper" id="main-menu-wrapper" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" menuheight>
    <!-- USER INFO - START -->
    <!--<div class="profile-info" ng-show="app.settings.menuProfile">
        <div class="profile-image col-md-12 col-sm-12 col-xs-12 text-center">
            <a ui-sref="app.ui.profile">
                <img src="data/profile/profile.png" class="img-responsive">
                <span class="profile-status available"></span>
            </a>
        </div>
        <div class="profile-details col-md-12 col-sm-12 col-xs-12">
            <h3>
                    <a ui-sref="app.ui.profile">John Carter</a>

                </h3>
            <p class="profile-title">Developer</p>
        </div>
    </div>-->
    <!-- USER INFO - END -->
    <!-- nav -->

    <nav ui-nav ng-include="'partials/components/nav.html'"></nav>
 
</perfect-scrollbar>
<!-- MAIN MENU - END -->
<!--  SIDEBAR - END -->
