<!-- list -->
<ul class="wraplist wrapper-menu">

    <li ui-sref-active="active">
        <a ui-sref="app.nhiem-vu-du-kien" class="nosub">
            <i class="material-icons">storage</i>
            <span class="title">Nhiệm vụ dự kiến</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.misson-continue" class="nosub">
            <i class="material-icons">tune</i>
            <span class="title">Nhiệm vụ đang thực hiện</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.nhiem-vu-da-ket-thuc" class="nosub">
            <i class="material-icons">done_all</i>
            <span class="title">Nhiệm vụ đã kết thúc</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.tien-do" class="nosub">
            <i class="material-icons">assignment</i>
            <span class="title">Tiến độ</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.list-money" class="nosub">
            <i class="material-icons">attach_money</i>
            <span class="title">Kinh phí</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a ui-sref="app.ho-so" class="nosub">
            <i class="material-icons">attach_file</i>
            <span class="title">Hồ Sơ</span>
        </a>
    </li>

   
    <li href class="auto">
        <a href="javascript:;">
            <i class="material-icons">equalizer</i>
            <span class="title">Báo cáo</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.bao-cao-nv-dang-thuc-hien">Kinh phí nhiệm vụ đang thực hiện</a>
            </li>
            <!--<li ui-sref-active="active">
                <a ui-sref="app.ui.calendar">Báo cáo kinh phí nhiệm vụ đã TH</a>
            </li>-->

        </ul>
    </li>

    <li href class="auto">
        <a href="javascript:;">
            <i class="material-icons">settings</i>
            <span class="title">Hệ Thống</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>
        <ul class="wraplist wraplist-sub sub-menu dk">
            <li ui-sref-active="active">
                <a ui-sref="app.department">Quản lý phòng ban</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.field">Quản lý lĩnh vực</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.users">Quản lý nhân viên</a>
            </li>

        </ul>
    </li>

</ul>
<!-- / list -->
